/* Add CSS Styling */

p.odd {
    background: lightpink;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

div#blue {
    color: blue;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

div#green {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}